/*  */

/* Стили для таблицы стоимости услуг */
.price_list {
    margin: 5%;
    padding: 20px;
    padding-bottom: 30px;
}

.price_list h2 {
    color: #000000; /* Чёрный цвет текста */
    font-family: 'Roboto', sans-serif; 
    text-align: left; /* Выравнивание по центру */
    padding-bottom: 20px; /* Отступ снизу */
    font-size: 35px;
}
.price_list h2 span {
    color: #24affa;
}

.price_list table {
    width: 100%; /* Ширина таблицы */
    border-collapse:collapse; /* Убрать двойные границы */
    margin: auto; /* Центрирование таблицы */
}

.price_list th, 
.price_list td {
    font-weight: 200;
    padding: 20px; /* Поля внутри ячеек */
    text-align: left; /* Выравнивание текста по левому краю */
    font-family: 'Roboto', sans-serif; /* Шрифт как в навигации */
    color: #414141;
}

.price_list th {
    font-size: 20px;
    border-bottom: solid 2px #24affa;
}

.price_list td {
    background-color: #f0f8ff; /* Светлый фон ячеек */
}

.price_list table tr:hover td{
    background-color: #b0e0e6; /* Цвет фона при наведении */
}

/* result container */
.results_container {
    text-align: center;
    margin: 20px;
    padding-bottom: 50px;
}

.results_container h2 {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 550;
}
.results_container span {
    color: #24affa;
    
}
.results_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.result_item {
    margin: 10px;
    transition: transform 0.3s ease;
}

.result_item img {
    width: 330px; /* или 100% если контейнер будет иметь фиксированный размер */
    height: 265px;
    border-radius: 10px;
}

.result_item:hover {
    transform: scale(1.05);
}

/*  */
.contact_form_container {
    text-align: left;
    padding: 50px;
    background-color: #ecf9ff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin: 20px auto;
    margin-bottom: 50px;
    width: 50%;
}

.contact_form_container h3 {
    margin-bottom: 20px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.contact_form_container p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.contact_form_container a {
    text-decoration: none;
    color: #24affa;
}

.contact_form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contact_form input[type="text"],
.contact_form input[type="tel"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.contact_form input[type="button"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #24affa;
    color: white;
    cursor: pointer;
}

#menuOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out; /* Плавная анимация изменения прозрачности */
    opacity: 0;
    z-index: 999;
}

#menuContent {
    background: white;
    padding: 60px;
    border-radius: 30px;
    text-align: center;
    line-height: 180%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Плавные анимации изменения положения и прозрачности */
    transform: scale(0.8);
    opacity: 0;
    z-index: 1000;
}
#text_Menu_Hight{
    font-size: 36px;
}
#name,
#phone{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

@media (max-width: 900px){
    .price_list{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    }
    .price_list h2{
        text-align: center;
    }
    .results_container{
    .result_item img {
        width: 300px;
        height: 270px;
    }
    }
    .contact_form_container{
    width: 70%;
    }
}