* {
    margin: 0;
    padding: 0;
}

/*header*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding: 10px 0 10px 10px;
}

.image_logo a img {
    width: 100px;
    height: auto;
    border-radius: 20px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 40%;
    background-color: #e0f6ff;
    border-radius: 15px 0 0 15px;
    box-shadow: 10px 10px 15px 0 rgba(190, 190, 190, 0.5);
    
}

.navigation a {
    text-decoration: none;
    color: #212121;
    padding: 0 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.toggle-button {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
}

.toggle-button .icon-bar {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #b4b3b3;
    margin: 3px auto;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    height: 100%;
    width: 100px;
}
.dropdown .dropdown_link {
    line-height: 60px;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: display 10s ease-in-out;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: solid rgb(228, 228, 228) 1px;
}
.dropdown-content a:last-child {
    border-bottom: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #989898;
    border-radius: 10px;
}
/* drop navigation */
.drop_navigation {
    display: none;
}
.drop_navigation.active{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 10px 10px 15px 0 rgba(190, 190, 190, 0.5);
    background: rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 1;
    min-height: 550px;
    left: 20px;
    right: 20px;
    top: 100px;
}
.drop_navigation a:hover {
    background-color: #989898;
    border-radius: 10px;
}
.drop_navigation a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 60px;

}
.drop_navigation p {
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 60px;
}
.drop_navigation_service {
    color: black;
    border-bottom: solid rgb(228, 228, 228) 1px;
}
/* main */
/* gif container */
#gif_container {
    position: relative;
    width: 100%;
    height: 800px;
    padding: 20px;
}
#background_gif {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
#background_gif, #gif_container {
    box-sizing: border-box;
}
/* Стили для текста */
#text_gif_Hight {
    font-size: 60px;
}
#text_gif_Low {
    font-size: 24px;
}
.text_gif {
    position: absolute;
    margin-left: 10%;
    margin-right: 20%;
    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    top: 70%;
}
.button_gif{
    position: absolute;
    top: 80%;
    right: 10%;
}

/* Стили для кнопки Заказать услуги */
.btn_entity {
    border-radius: 15px;
    padding: 20px 40px;
    background-color: rgb(81, 206, 252);
    color: white;
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: 17px;
    transition: background-color 0.3s /* Увеличил время анимации для плавного перехода */
}
.btn_entity:hover {
    background-color: rgba(2, 166, 255, 0.8); /* Изменение цвета при наведении */
    cursor: pointer; /* Изменение курсора при наведении */
}

#menuOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out; /* Плавная анимация изменения прозрачности */
    opacity: 0;
    z-index: 999;
}

#menuContent {
    background: white;
    padding: 60px;
    border-radius: 30px;
    text-align: center;
    line-height: 180%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Плавные анимации изменения положения и прозрачности */
    transform: scale(0.8);
    opacity: 0;
    z-index: 1000;
}
#text_Menu_Hight{
    font-size: 36px;
}
#name,
#phone {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
  
/* card */
#card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto);
 }

.card {
    margin: 1.5em;
    background-color: rgb(231, 245, 249);
    padding: 15px;
    border-radius: 30px;
    transition: .3s;
}
.card:hover{
    transform: scale(1.05);
}
.card>a>img {
    width: 100%;
    border-radius: 30px;
}
.card>.info{
    text-align: center;
}
.card .info p{
    padding-bottom: 15px;
}
.info {
    text-align: center; /* Центрирование текста по горизонтали */
    font-size: 18px; /* Увеличьте размер шрифта по вашему желанию */
    padding: 20px;
    font-family: 'onest',Arial,sans-serif;
    font-weight:normal;
}
#card4 p{
    padding-bottom: 35px;
}

/* Стили для кнопки Заказать услуги */
.btn_entity {
    border-radius: 15px;
    padding: 20px 30px;
    background-color: rgb(81, 206, 252);
    color: white;
    font-family: 'onest',Arial,sans-serif;
    border: none;
    font-size: 17px;
    transition: background-color 0.3s /* Увеличил время анимации для плавного перехода */
}
.btn_entity:hover {
    background-color: rgba(2, 166, 255, 0.8); /* Изменение цвета при наведении */
    cursor: pointer; /* Изменение курсора при наведении */
}

/* information */
#information { 
    font-size: 30px; 
    padding-top: 100px; 
    padding-bottom: 40px;
    margin: 0 40px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1.5px;
    font-weight: 500;
}
#information span {
    color: #24affa;
}

/* slider */
.slider_container {
    position: relative;
    width: 90%; /* Ширина слайдера */
    max-width: 1000px; /* Максимальная ширина слайдера */
    height: auto; /*calc(39vw); */
    margin: 20px auto; /* Отступы по краям */
    overflow: hidden;
    border-radius: 15px; /* Скругление углов */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); /* Тень для подчеркивания слайдера */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    border-radius: 15px; /* Продолжение скругления углов */
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev_btn,
.next_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%; /* Ширина кнопок относительно ширины страницы */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    background-color: transparent;
    border: none;
    font-size: 1.5em; /* Размер шрифта увеличен */
    color: white;
    border-radius: 50px;
}

.prev_btn:hover,
.next_btn:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.prev_btn {
    left: 1%; /* Отступ слева относительно ширины страницы */
}

.next_btn {
    right: 1%; /* Отступ справа относительно ширины страницы */
}

/* service name */
#name_services{
    text-align: center; /* Центрирование текста по горизонтали */
    font-size: 27px; /* Увеличьте размер шрифта по вашему желанию */
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1.5px;
    font-weight:500;
}
#name_services span{
    color: #24affa;
}

/* reviews */

.reviews_header {
    text-align: center; /* Выравнивание текста по центру */
    font-size: 20px;
    font-family: 'onest',Arial,sans-serif;
}
.reviews_header span {
    color: #24ccfa;
}

/* Стили для обертки отзывов */
.reviews_wrapper {
    display: flex; /* Отображение в виде flex-контейнера */
    justify-content: space-between; /* Распределение элементов по ширине контейнера */
    max-width: 600px; /* Максимальная ширина блока отзывов */
    max-height: 600px;
    margin: 0 auto; /* Центрирование обертки отзывов на странице */
    margin-bottom: 40px;
    padding: 30px; /* Поля вокруг обертки отзывов */
    border: 1px solid #ccc; /* Граница для обертки отзывов */
    border-radius: 20px;
}

/* Стили для списка отзывов */
.reviews_list {
    width: 50%; /* Ширина списка отзывов */
    border-right: 1px solid #9a9a9a;
    max-height: 400px; /* Установите максимальную высоту блока отзывов по вашему усмотрению */
    overflow-y: auto;
}

/* Стили для отдельного отзыва */
.review {
    margin-bottom: 20px; /* Внешний отступ между отзывами */
    font-size: 19px;
    border-bottom: 1px solid #ccc; /* Цвет и стиль полоски между отзывами */
    padding-bottom: 10px;
}
.review:last-child {
    border-bottom: none;
}
.review:first-child {
    border-top: none;
}

/* Дополнительные стили для формы отзыва */
#review_form {
    width: 40%; /* Ширина формы отправки отзыва */
}
.rating{
    display: inline-flex;
    flex-direction: row-reverse;
}
#rating1,
#rating2,
#rating3,
#rating4,
#rating5 {
    font-size: 30px;
    color: #dcdcdc;
    color: orange;
}
.rating_item{
    font-size: 30px;
    color: #dcdcdc;
    cursor: pointer;
    transition: .2s;
}
.rating_item:hover,
.rating_item:hover ~ .rating_item {
    color: #989898
}
.rating[data-total-value="1"] .rating_item:nth-child(n + 5),
.rating[data-total-value="2"] .rating_item:nth-child(n + 4),
.rating[data-total-value="3"] .rating_item:nth-child(n + 3),
.rating[data-total-value="4"] .rating_item:nth-child(n + 2),
.rating[data-total-value="5"] .rating_item:nth-child(n + 1) {
    color: orange;
}

.rating_item_orange {
    font-size: 30px;
    color: #dcdcdc;
    color: orange;
} 
.rating_item_rev{
    font-size: 30px;
    color: #dcdcdc;
}
/* Дополнительные стили для полей формы */
#username, #review_comment {
    padding: 0 20px;
    margin-bottom: 10px;
    background: #e9eff6;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    border-width: 1px;
}
#review_comment{
    width: 80%;
    height: 150px;
}
#username {
    width: 80%; 
}

/* Дополнительные стили для кнопки отправки отзыва */
#review_form button {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 15px 0;
    font-size: 19px;
}
#review_form h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
}

/* Footer */
#footer {
    background-color: #ecf9ff;
    padding: 40px;
    border-radius: 10px;
}
 
#footer_nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
 
#footer_info {
    text-align: center;
}
 
#footer_info p {
    font-size: 20px; /* Измените размер шрифта в соответствии с вашим дизайном */
    margin: 10px 0;
}
 
#footer_bar ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Расстояние между элементами списка */
}
 
#footer_bar li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

 
/* Адаптивность */
@media (max-width: 800px) {
    #footer_nav {
        flex-direction: column;
        align-items: center;
    }
 
    #footer_info p {
        font-size: 30px;
        margin-top: 30px;
    }
    #footer_bar{
        margin-top: 30px;
    }
    #footer_bar ul {
        justify-content: flex-start;
    }
    #footer_bar ul li a{
        font-size: 25px;
    }
}
 
@media (max-width: 480px) {
    #footer_info .btn_entity {
        width: 100%; /* Кнопки на всю ширину */
        margin-bottom: 10px; /* Отступ снизу */
    }
}
/* адаптивность для гиф контейнера */
@media (max-width: 900px) {
    #gif_container {
        height: 600px;
    }
    #text_gif_Hight {
        font-size: 40px;
    }
    #text_gif_Low {
        font-size: 18px;
    }
    .text_gif {
        top: 50%;
    }
    
    .button_gif {
        top:80%;
        left: 15%;
    }

}
/*Адаптивность для меню*/
@media (max-width: 800px) {
    .navigation{
        width: auto;
    }
    .dropdown-content {
        position: relative;
        top: 0;
    }
}

@media (max-width: 480px) {
    .navigation{
        display: none;
    }
    .toggle-button{
        display: block;
    }
    .drop_navigation.active{
        display: flex;
    }
    #gif_container{
        height: 400px;
    }
    .text_gif {
        top: 30%;
    }
    
    .button_gif {
        top:75%;
        left: 15%;
    }
    #text_gif_Hight {
        font-size: 40px;
    }
    #text_gif_Low {
        font-size: 18px;
    }
}